@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    font-family: 'Open Sans', sans-serif;
}

.loginSection {
    background-color: #6f6e6e79;
    background-position: 40% 60%;
    margin: auto;
    width: 820px;
    height: 470px auto;
    margin-top: 11em;
    left: 35%;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(226, 194, 218, 0.513);
    text-shadow: 0 0 4px #fff;

}

.signupSection {
    background-color: #6f6e6e79;
    background-position: 40% 60%;
    margin: auto;
    width: 740px;
    height: 590px auto;
    margin-top: 5.5em;
    margin-bottom: 2em;
    left: 35%;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 8px 20px 5px rgba(226, 194, 218, 0.513);
    text-shadow: 0 0 4px #fff;
}

.info {
    width: 250px;
    background: #3a1c2d;
    padding: 55px 5px;
    border-right: 5px solid #3a1c2d;
    text-shadow: 0 0 4px #fff;
}

.loginSection .info>h2 {
    padding-top: 4.5em;
    font-weight: 300;
    font-size: 23px;
}
.signupSection .info>h2{
    padding-top: 9.5em;
    font-weight: 300;
    font-size: 23px;
}

.info>p {
    margin-top: 2px;
    font-size: 18px;
}

.loginForm {
    width: 580px;
    padding: 30px 0;
    background: #53445073;
    transition: .2s;

}

.signupForm {
    width: 540px;
    padding: 30px 0;
    background: #53445073;
    transition: .2s;
}

.signupForm>h2 {
    font-weight: 350;
    font-size: 27px;
    margin-bottom: 0.8em;
}

.loginForm>h2 {
    font-weight: 350;
    font-size: 27px;
    margin-bottom: 0.8em;
}

.inputFields {
    margin: 18px 0;
    font-size: 19px;
    padding: 10px;
    width: 400px;
    border: 1px solid rgb(245, 223, 247);
    border-top: 1px solid rgb(245, 223, 247);
    ;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    box-shadow: 0 0 4px #fff;
}

.noBullet {
    list-style-type: none;
    padding: 0;
}

#join-btn,
#login-btn {
    border: 1px solid #fff;
    background: #3a1c2d;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 43px;
    cursor: pointer;
    transition: .4s;
}

#join-btn:hover,
#login-btn:hover {
    box-shadow: 0 0 4.5px #fff;
    text-shadow: 0 0 4px #fff;
    background: #230817;
    padding: 10px 80px;
}

label {
    display: block;
    width: 100%;
    margin-top: 0.6em;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 17px;
}

label {
    margin-bottom: -0.5em;
}

label:nth-of-type(2) {
    margin-top: 3em;
}