@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Shadows+Into+Light&display=swap');

html {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    zoom: normal;
    
}

#box {
    height: auto;
    width: auto;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 5em;
}

body {
    background: rgba(0, 0, 0, 0.7) url("../img/grad2.jpg");
    background-blend-mode: darken;
    background-position: 20% 82%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

nav,
footer {
    font-family: 'Rajdhani', sans-serif;
    background-color: #6f6e6e79; 
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 0rem 4rem 0 3rem;
    margin: 0%;
    height: 120px;
    box-shadow: 0 0 10px #fff;
}

a {
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline-block;
    margin: 0 0.8em;
}

nav h1 {
    color: white;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
}

nav>img {
    width: 90px;
    height: 90px;
    margin-left: 20px;
  
    background-image: #6f6e6eb5;
}

nav a:hover {
    font-weight: bold;
    text-shadow: 0 0 4px #fff;
    /* font-size: 2rem; */

    
    
}
#user,
#guest {
    display: inline;
}
.menu > span {

    font-size: 21px;
    margin-right: 640px;
}
.error {
    color: rgb(244, 35, 35);
    text-shadow: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -9px;

}
/* .searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    
}
.search>input {
    width: 700px;
    height: 40px;
    font-size: 20px;
    background-color: #6f6e6e5a;

}
.search>h2 {
    
    font-size: 20px;
    color: #fff;
    
} */

footer {
    
    position: absolute;
    opacity: 0.7;
    bottom: 0;
    height: 40px;
    font-size: 20px;
    width: 100%;
    color: white;
    padding: 0.7em 1em;
    
}

